body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #2a1c1c;
}

header {
  background: #99d6e0;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: rgb(196, 235, 210);
  text-decoration: none;
}

section {
  padding: 20px;
  background: rgb(196, 235, 210);
  margin: 20px;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #ceb0b0;
  color: white;
}
