body{
    background-color: rgb(223, 219, 214);
    
}
header{
    background-color: rgb(186, 227, 213);
}
header h1, header h3{
    text-align: center;
    margin: 0 15px;
    padding: 10px;

}
 nav ul{
    list-style: none;
    margin: 0 15px;
    padding: 2px;
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: rgb(197, 228, 219);
}
#Home-page h1, #Home-page p, #Home-page img {
    text-align: center;
    background-color: rgb(206, 240, 229);
    padding: 05px;
    margin: 5px;
    
}
#About-us h3, #About-us ul, #About-us li, #About-us img, #About-us h2{
    color: rgb(30, 17, 17);
    background-color: rgb(201, 195, 186);
    padding: 10px;
    margin: 15px;
}
#Contact-Us h2, #Contact-Us h3{
    background-color: rgb(218, 218, 234);
    text-align: center;
    margin: 5px;
    padding: 5px;
}